body{
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.container{
  order: 1;
  min-width: calc(1440px - 330px);
  max-width: calc(1440px - 330px);
  /*background-color: #eee;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*width: 800px;*/
  overflow: hidden;
}

.row{
  display: flex;
  align-items: center;
  overflow: hidden;
  
  position: relative;
  min-height: 50px;
  
  transition: min-height 0.2s ease-in-out, 
              opacity    0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  /*transition: opacity 2s ease-in-out;*/
}

.hero-panel{
  position: absolute;

  width: 150px;
  height: 100%;
  
  display: flex;
  align-items: center;

  display: flex;
}

.top-hero-panel{
  justify-content: space-between;
}

.nav{
  cursor: pointer;
  color: #4285f4;
}

.nav-selected{
  background-color:  #4285f4;
  border-radius: 3px;
  color: white;
}

.nav-selected{
  transform: rotate(180deg);
}

.link-button{
  cursor: pointer;
  color: #4285f4;
  border-bottom:1px dashed #4285f4;
}

.link-button:hover{
  color: rgb(174, 89, 92);
  border-bottom:1px dashed rgb(174, 89, 92);
}


.nav-toggle-select{
  margin-left: 10px;
}

.nav-toggle-info{
  width: 80px;
  text-align: right;
}

.select-buttons{
  padding-left: 10px;
}

.select{
  line-height: 23px;
  margin: 3px 10px 3px 10px;
}

.chart{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.hero-selection-row{
  overflow: hidden;
  transition: height 0.2s linear;
}

.hidden-row{
  height: 0px;
}

.hero-selection{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-selection .weapon-element{
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
}

.hero-selection .weapon-element:hover{
  border: #888 2px solid;
  margin: 1px;
}

.hero-selection .weapon-element .icons{
  min-width: 80px;
  max-width: 80px;
}

.hero-selection .weapon-element .ability-mousebutton{
  left: 60%;
}


svg.timeScale{
  height: 32px;
}

svg.timeline-panel{
  position: absolute;
  left: 152px;
  min-height: 200px;
  max-height: 200px;
  min-width: 300px;
  max-width: 300px;
}

.icons{
  min-width: 100px;
  max-width: 100px;
  display: flex;
}

.inverse img{
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
}

.inverse .ability-mousebutton{
  color: #888;
}

div.info-string{
  text-align: right;
  min-width: 48px;
  max-width: 48px;
  color: white;
  left: 100px;
  margin-right:2px;
  /*border:1px solid black;*/
}

.hero-ability-icon-bg{
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(64,82,117,0);

  -webkit-user-select: none;
          user-select: none;
}

.ability-mousebutton{
  position: absolute;
  left:70%;
  top:5%;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
}

.hero-ability-icon{
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-height: 65%;
  max-width: 90%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  vertical-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  /*border-radius: 8px;*/
  pointer-events: none;
}

.hero-slider{
  position: relative;
  background-color: rgba(255,255,255,0.5);
  height: 10px;
  width: 110px;
  margin-left: -110px;
  align-self: flex-end;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

.hero-slider-help-string{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 10px;
  width: 110px;
  margin-bottom: -10px;

  color: #888;
  font-size: 8px;
  line-height: 9px;
}

.hero-slider-handle{
  background-color: rgba(0,0,0,0.5);;
  color: #fff;
  height: 10px;
  width: 20px;
  margin: 0px;
  cursor: pointer;
}

aside{
  order: 2;
  width: 100%;
  max-width: 330px;
  max-height: 100vh;
  overflow: hidden;
}

.panels{
  max-width: 330px;
}

.enemy-viewport{
  min-width: 320px;
}

header{
  margin: 3px 0px 3px 3px;
}

header img{
  width: 100%;
}

.distance-panel p{
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
  font-family: serif;
  font-size: 16px;

}

input.distance-input{
  width: 40px;
  text-align: right;
  font-family: serif;
  font-size: 16px;
}

.modificators{
  /*background-color: #eee;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.modificators p{
  margin: 3px 0px 3px 0px;
  text-align: center;
  width: 100%;
}

.mod-panel p{
  /*text-align: left;*/
  /*border-bottom: #888 1px solid;*/
}

.mod-reduction{
  /*width: 120px;*/
  
}

.mod-boost{
  /*width: 210px;*/
  /*border-top: black 1px solid;*/
  /*background-color: #eee;*/
}

.mod-icon-panel{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  min-width: 100px;
}

.mod-reduction .mod-icon-box{
  justify-content: right;
}

.mod-panel .hero-ability-icon-bg{
  margin: 1px 1px 1px 1px;
  cursor: pointer;
}

.mod-panel .hero-ability-icon-bg:hover{
  border: #888 1px solid;
  margin: 0px 0px 0px 0px;
}

.figure_chart_help{
  /*background-color: #abe6f2;*/
  height: 20px;
  margin-top: -30px;
  padding-right: 20px;
  color: #fff;
  text-align: right;
  text-shadow: 0 0 5px #abe6f2;
}

svg.figure_chart{
  height: 320px;
  min-width: 320px;
  margin: 5px;
  border-radius: 5px;
  background: #abe6f2; /* Old browsers */
  background: -moz-linear-gradient(bottom, #abe6f2 0%, #fff 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #abe6f2 0%,#fff 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #abe6f2 0%,#fff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

svg g.figure{
  cursor: grab;
}

svg g.dragging{
  cursor: grabbing;
}

svg .figure_head{
  fill: none;
  stroke-width: 0.01;
  stroke: black;
}

svg .figure_body{
  fill: none;
  stroke-width: 0.01;
  stroke: black;
}

svg .figure-crosshair-dot{
  fill: red;
}

svg .figure-crosshair-circle{
  fill: none;
  stroke-width: 0.2;
  stroke: red;
}


@media only screen and (max-width: 1440px) {
  section.container {
    min-width: calc(100% - 330px);
    max-width: calc(100% - 330px);
  }
}

@media only screen and (max-width: 800px) {
  section.container {
    order:3;
    min-width: initial;
    max-width: initial;
    width: 100%;
  }

  aside{
    max-width: 1000px;
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    
    /*align-items: flex-center;*/
  }

  .contacts{
    margin-top: 20px;
  }

  .enemy-viewport{
    order: 2;
  }
}

@media only screen and (max-width: 660px) {
  aside{
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-center;
  }

  .contacts{
    margin-top: 0px;
  }
  .enemy-viewport{
    order: 0;
  }
}

.aside-note{
  width: 330px;
}

.aside-note p{
  text-align: center;
  color: #202020;
  margin: 4px 0px 2px 0px;
  padding: 0px 0px 0px 0px;
}

.contacts svg{
  vertical-align: -20%;
  margin-right: 3px; 
}

.contacts i{
  vertical-align: -30%;
  color: #202020;
  margin-left: 5px;
}

p.buymeacoffee-text a{
  padding: 1px 2px 1px 2px;
  background-color: #f67c68;
  border-radius: 3px;
  color: white;
  text-decoration: none;
}

p.buymeacoffee-note{
  margin: 2px 2px 2px 2px;
  color: #808080;
}